Package: com.rpgfarm.a-shields
Name: A-Shields
Depends: mobilesubstrate, org.thebigboss.libcolorpicker (>=1.6.7), com.rpetrich.rocketbootstrap (>= 1.0.7~beta3)
Version: 1.5.1
Architecture: iphoneos-arm
Description: Protect your device
Maintainer: Baw Appie <pp121324@gmail.com>
Author: Baw Appie <pp121324@gmail.com>
Section: Tweaks
